# Numerous always-ignore extensions
*.diff
*.err
*.log
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
.Trashes

# Packages folders
node_modules
vendor

# Ignore this files
gulpfile.js
gulp.config.js
package.json
package-lock.json
